.description {
    width: 50%;
    height: 70%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    color: white;

    &.footer {
        width: 65%;
        height: 15rem;
    }

    .headings {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1 {
            font-size: 3.25rem;
            font-weight: 700;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
        }

        h2 {
            color: rgb(255, 255, 255);
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.5;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        }

        p {
            color: rgb(255, 255, 255);
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.5;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        }
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 3.5rem;
        width: 100%;

        input {
            width: 67.4%;
            height: 100%;
            padding: 1.5rem;
            border-radius: 0.25rem;
            border: 1px solid gray;
            outline: none;
            background-color: rgba(0, 0, 0, 0.719);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            &:focus {
                outline: 2px solid wheat;
                box-shadow: 0 0 5px black;
            }

            &::placeholder {
                color: white;
                font-size: small;
            }
        }

        .get-started {
            width: 32.5%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            border: none;
            padding: 0.75rem 1rem;
            border-radius: 0.25rem;
            cursor: pointer;
            background-color: rgb(245, 7, 19);
            color: rgb(255, 255, 255);

            p {
                font-weight: 900;
            }

            i {
                transition: transform .3s ease-in-out;
            }

            &:hover {
                background-color: rgb(193, 17, 25);

                i {
                    transform: translateX(10px);
                }

            }
        }
    }
}


// MEDIA-QUERIES RESPONSIVENESS
@media screen and (max-width:767px) {
    .description {
        width: 85%;

        &.footer {
            width: 100%;
        }

        .headings {
            max-width: 90%;

            h1 {
                font-size: 2.25rem;
            }

            h2 {
                font-size: 1rem;
            }

            p {
                font-size: 1rem;
            }
        }

        form {
            height: 7.5rem;
            gap: 15px;
            flex-direction: column;

            input {
                height: 50%;
                width: 90%;
                padding: 1rem;
            }

            .get-started {
                height: 50%;
                width: 90%;

                p {
                    font-size: 20px;
                    margin-right: unset;
                }
            }
        }
    }
}

@media (min-width:767px) and (max-width:1024px) {
    .description {
        width: 80%;
        margin-top: 10rem;

        .headings {
            max-width: 70%;
        }

        &.footer {
            margin-top: unset;
            width: 100%;

            form {
                height: 7.5rem;
                flex-direction: column;

                input {
                    width: 90%;
                }

                .get-started {
                    width: 90%;
                }
            }
        }

        form {
            height: 4rem;
        }
    }
}