.genres {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    margin: 10px 0;
    padding: 0 20px;

    h1 {
        color: white;
        margin-left: 1rem;
    }

    .cards {
        padding: 10px;
        display: flex;
        gap: 15px;
        overflow-y: hidden;
        overflow-x: scroll;
        text-align: center;

        &::-webkit-scrollbar {
            display: none;

        }

        .card {
            width: 15rem;
            border-radius: 7.5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            object-fit: contain;

            &.isSmall {
                scale: 0.95;
            }

            h1 {
                font-size: 17.5px;
            }

            img {
                transition: .25s ease-in-out;

                &:hover {

                    scale: 1.025;
                }
            }
        }
    }
}

// MEDIA-QUERIES RESPONSIVENESS
@media screen and (max-width:768px) {
    .genres {
        text-align: center;
        padding: 0 15px;

        h1 {
            color: white;
            margin-left: 0;
            scale: 0.75;
        }

        .cards {
            gap: 10px;

            .card {
                width: 9rem;
            }
        }
    }
}