.profile {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;

    .profile-body {
        width: 50%;
        margin-top: 7rem;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 50px;
            font-weight: 400;
            border-bottom: 1px solid #282c2d;
            margin-bottom: 20px;
        }

        .profile-info {
            display: flex;
            gap: 15px;

            img {
                height: 100px;
            }

            .details {
                color: white;
                flex: 1; // uses all the available space

                h2 {
                    background-color: gray;
                    font-size: 15px;
                    padding: 15px;
                    padding-left: 20px;
                }

                .plans {
                    // Component seperated for plans with styles

                    .signOut-btn {
                        width: 100%;
                        background: rgb(193, 17, 25);
                        border: none;
                        outline: none;
                        padding: 10px 20px;
                        margin-top: 2.5%;
                        font-size: 1rem;
                        font-weight: 600;
                        cursor: pointer;
                        color: white;

                        &:hover {
                            background-color: rgb(245, 7, 19);
                        }
                    }
                }
            }
        }

    }
}


// MEDIA-QUERIES RESPONSIVENESS
@media screen and (max-width:767px) {
    .profile {
        .profile-body {
            width: 75%;
            margin-top: 7rem;

            h1 {
                font-size: 25px;
                margin-bottom: 5px;
            }

            .profile-info {
                flex-direction: column;
                gap: 10px;

                img {
                    height: 75px;
                    width: 75px;
                }

                .details {
                    h2 {
                        padding: 10px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .profile {
        .profile-body {
            margin-top: 12.5rem;
            width: 65%;
        }
    }
}