.genres {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    margin: 10px 20px;

    h1 {
        color: white;
        margin-left: 1rem;
    }

    .cards {
        display: flex;
        padding: 10px;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        text-align: center;

        &::-webkit-scrollbar {
            display: none;
        }

        .card {
            max-height: 300px;
            width: 25rem;
            margin-right: 15px;
            border-radius: 7.5px;
            transition: .25s ease-in-out;

            &.isSmall {
                scale: 0.9;
            }

            img {
                &:hover {
                    scale: 1.025;
                }
            }

            h1 {
                font-size: 17.5px;
            }
        }
    }
}