.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    transition: .2s ease-in-out;
    z-index: 5;
    background-color: black;

    &.transparent {
        background-color: rgba(0, 0, 0, 0);
    }

    &.show {
        position: fixed;
        background-color: black;
    }

    .logo {
        width: 80px;
        cursor: pointer;
        object-fit: contain;
    }

    .nav-items-wrapper {

        .nav-toggler {
            display: none;
        }

        .nav-items {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 2rem;

            li {
                a {

                    text-decoration: none;
                    color: rgb(204, 204, 204);
                    font-weight: bold;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }

    .avatar {
        width: 30px;
        cursor: pointer;
        transition: .2s ease-in-out;

        &:hover {
            scale: 1.1;
        }
    }
}


// MEDIA-QUERIES RESPONSIVENESS
@media screen and (max-width:1000px) {
    .navbar {
        .nav-items-wrapper {
            .nav-toggler {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                i {
                    transform: translateX(-20px);
                    display: unset;
                    color: rgb(218, 10, 21);
                }
            }

            .nav-items {
                position: absolute;
                left: 2.5rem;
                right: 2.5rem;
                top: 5rem;
                min-height: 75vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                padding: 20px;
                border-radius: 10px;
                background-color: rgb(22, 22, 22);
                transform: scale(0);
                transition: transform ease-in-out .5s;

                &.active {
                    transform: scale(1);
                }

                li {
                    width: 100%;
                    height: 100%;
                    border-radius: 7.5px;

                    a {
                        width: 100%;
                        height: 100%;
                        padding: 20px 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        font-weight: bold;
                    }

                    &:hover {
                        background-color: white;

                        a {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}