.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    z-index: 5;
    transition: .2s ease-in-out;

    &.transparent {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &.show {
        position: fixed;
        background-color: black;
    }

    .logo {
        width: 80px;
        cursor: pointer;
        object-fit: contain;
    }

    .nav-items-wrapper {

        .nav-toggler {
            display: none;
        }

        .nav-items {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 2rem;
            z-index: 2;

            li {
                a {
                    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.85);
                    text-decoration: none;
                    color: rgb(222, 222, 222);
                    font-weight: bold;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }

    form {
        display: flex;

        input {
            padding: .5rem;
            border-radius: 0.25rem;
            border: 1px solid gray;
            outline: none;
            background-color: rgba(0, 0, 0, 0.719);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: large;
            background-color: rgba(0, 0, 0, 0.4);

            &:focus {
                outline: 1px solid wheat;
                background-color: rgba(0, 0, 0, 0.75);
                box-shadow: 0 0 5px black;
            }

            &::placeholder {
                color: rgba(255, 255, 255, 0.75);
                font-size: small;
            }
        }

        button {
            background-color: rgb(221, 14, 24);
            font-weight: bold;
            padding: .5rem 1rem;
            color: rgb(255, 255, 255);
            border-radius: 0.25rem;
            border: none;
            margin-left: .5rem;
            cursor: pointer;
            transition: background-color .2s ease-in-out;

            &:hover {
                background-color: rgb(245, 7, 19);
            }
        }
    }

    .avatar {
        width: 30px;
        cursor: pointer;
        transition: .2s ease-in-out;

        &:hover {
            scale: 1.1;
        }
    }
}


// MEDIA-QUERIES RESPONSIVENESS
@media screen and (max-width:1024px) {
    .navbar {
        padding: 1rem;
        height: 3rem;

        .nav-items-wrapper {
            .nav-toggler {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-right: .5rem;

                i {
                    transform: translateX(-20px);
                    display: unset;
                    color: rgb(218, 10, 21);
                }
            }

            .nav-items {
                position: absolute;
                left: 2.5rem;
                right: 2.5rem;
                top: 100%;
                min-height: 75vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                padding: 20px;
                border-radius: 10px;
                background-color: rgb(22, 22, 22);
                border: 2px solid rgba(139, 52, 56, 0.295);
                transform: scale(0);
                transition: transform ease-in-out .5s;

                &.active {
                    transform: scale(1);
                }

                li {
                    width: 100%;
                    height: 100%;
                    border-radius: 7.5px;

                    a {
                        width: 100%;
                        height: 100%;
                        padding: 20px 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        font-weight: bold;
                    }

                    &:hover {
                        background-color: white;

                        a {
                            color: black;
                        }
                    }
                }
            }
        }

        form {
            position: absolute;
            left: 0;
            right: 0;
            top: 3.5rem;
            width: 100%;
            z-index: 0;
            display: flex;
            justify-content: space-between;
            padding: 0 1rem;
            gap: 1rem;

            input {
                flex: 1;
                padding: .25rem;
            }

            button {
                padding: .25rem 1rem;
                margin-left: unset;
            }
        }
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .navbar {
        height: 5rem;
        padding: 1rem 2rem;

        .logo {
            width: 100px;
        }

        .nav-items-wrapper {
            .nav-toggler {
                margin-right: 1rem;

                i {
                    scale: 1.75;
                    transform: translateX(-10px);
                }
            }

            .nav-items {
                top: 125%;
            }
        }

        form {
            top: 5rem;
            padding: 0 1.5rem;

            input {
                flex: 1;
                padding: .5rem;
            }

            button {
                padding: .5rem 2rem;
                margin-left: unset;
            }
        }

        .avatar {
            width: 40px;
        }
    }
}